

.container {

    margin: 12% auto 0px auto;
    width: 500px;
    padding: 0px 15px 0px 0px;
    
    background-color: white;
}

#splash {
    position: absolute;
    width: 500px;
    height: 300px;
    padding: 20px;
    z-index: 1;
    background-color: lightgrey;
    overflow-y: hidden;
}

label {
    float:right;
    
}


header {
   
    padding: 0px 0px 0px 15px;
    background-color: lightgrey;
}

pre {
    margin: 0px 0px 0px 0px;
}

.titlepre {
    margin: 0px 0px 0px 10px;
}

#Game {

    background-color: lightgreen;
    float: left;
    height: 150px;
    width: 65%;
    padding: 0px 0px 0px 20px;
}

#Hangman {
   
    height: 150px;
    background-color: lightblue;
    overflow-y: hidden;
}

#GameStatus {
    background-color: lightcoral;
    padding: 0px 0px 0px 10px;
}

.wonwordscontainer {
    background-color: lightgoldenrodyellow;
    width: 100%;
    
}

#WonWordsDiv {

    background-color: lightgoldenrodyellow;
    float: left;
    width: 100%;
    padding: 0px 0px 0px 125px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }