.container {

    margin: auto;
    width: 500px;
    height: 300px;
    background-color: white;
}

header {
   
    margin: auto;
    padding: 0px 0px 0px 15px;
    background-color: lightgrey;
   

}

.spacer {
    height: 50px;
}

#Game {

    background-color: lightgreen;
    float: left;
    height: 150px;
    width: 65%;
    padding: 0px 0px 0px 20px;
}

#Hangman {
    width: 35%;
    height: 150px;
    float: right;
    background-color: lightblue;
}

#GameStatus {
    background-color: lightcoral;
    padding: 0px 0px 0px 20px;
}

.wonwordscontainer {
    background-color: lightgoldenrodyellow;
    float: left;
    width: 100%;
    
}

#WonWordsDiv {

    background-color: lightgoldenrodyellow;
    float: left;
    width: 100%;
    padding: 0px 0px 0px 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }