.container {

    margin: auto;
    width: 500px;
    height: 300px;
    background-color: lightgrey;
}

/* div {
    padding: 25px;
} */

#Game {

    background-color: lightgreen;
    float: left;
    height: 120px;
    width: 60%;
}

#Hangman {
    width: 40%;
    height: 120px;
    float: right;
    background-color: lightblue;
}

#GameStatus {
    background-color: lightcoral;
    
}

.wonwordscontainer {
    background-color: lightgoldenrodyellow;
    float: left;
    width: 100%;
}

#WonWordsDiv {

    background-color: lightgoldenrodyellow;
    float: left;
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }